
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.text {
  positon: relative;
  z-index: 10;
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
  .video-wrapper {
    background:#381e3f;
    height: 35em;
    border: 3px solid #000;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header{
    position: relative;
    color: white;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  }
  .navbar-header {
    max-height: 70px;
}
.navbar-toggle {

  display: block;
  margin-top: 0; 
}

.navbar-collapse.collapse {
  display: none !important;
}
.intro{
  overflow: hidden;
  background:linear-gradient(45deg,#412348,#33615d);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  margin-bottom: 0; 
}
.intro1{
  overflow: scroll;
  padding: 0%;
  background:#2a172f;
  display:block;
  justify-content: baseline;
  position: relative;
  color: white;
  margin-bottom: 0; 
}
::-webkit-scrollbar{
	width:5px;
	height:5px;
}
::-webkit-scrollbar-track{
	background: #412348;
	border-radius:5px;
}
::-webkit-scrollbar-thumb{
	background: linear-gradient(45deg,#e59dd4,#412348);
	border-radius:10px;
}
.gameplay{
  background:black;
  color: white;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  margin-bottom: 0; 
  display: flex;
}
.credits{
  background:rgb(0, 0, 0);
  color: white;
  text-shadow: 2px 2px 8px rgba(235, 166, 220, 0.6);
  margin-bottom: 0; 
  display: block;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.credits1{
  justify-items: flex-start;
  background:rgb(0, 0, 0);
  color: white;
  text-shadow: 2px 2px 8px rgba(232, 123, 205, 0.6);
  margin-bottom: 0; 
  display: inline-box;
  position: relative;
}
.gallery{
  background:linear-gradient(60deg, #5e2348,#224943)
}

.item {
  display: inline-flex;
  width: 25em;

  align-items: center;
  justify-content: center;
}
.item img {
  display: block;
  width: 100%;
  
}