video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .video-wrapper {
    height: 35em;
    border: 3px solid #000;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header{
    position: relative;
    color: white;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  }
  .navbar-header {
    max-height: 70px;
}
.navbar-toggle {

  display: block;
  margin-top: 0; 
}

.navbar-collapse.collapse {
  display: none !important;
}
.intro{
  background:linear-gradient(45deg,#412348,#33615d);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}